.header-color {
  background: #00467f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a5cc82,
    #00467f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a5cc82,
    #00467f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #00467f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a5cc82,
    #00467f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a5cc82,
    #00467f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

/* Mobile Screen Landing Page*/
.avatar-img {
  height: 125px;
  padding-top: 50px;
}
.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.banner-text hr {
  border-top: 3px dotted white;
  width: 50%;
  margin: auto;
}
.banner-text p {
  color: white;
  font-size: 15px;
  padding: 0.5em;
}

.social-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}
.social-links i {
  color: white;
  font-size: 2em;
  padding: 4px;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .avatar-img {
    height: 200px;
    padding-top: 50px;
  }
  .banner-text h1 {
    font-size: 50px;
  }
  .banner-text hr {
    border-top: 4px dotted white;
  }
  .banner-text p {
    font-size: 18px;
    padding: 0.5em;
  }
  .social-links i {
    color: white;
    font-size: 3em;
    padding: 6px;
  }
}

/* Desktop Screen Landing Page*/

@media only screen and (min-width: 768px) {
  .avatar-img {
    height: 250px;
  }

  .banner-text h1 {
    font-size: 62px;
  }

  .banner-text hr {
    border-top: 5px dotted white;
  }

  .banner-text p {
    font-size: 20px;
    padding: 1em;
  }

  .social-links i {
    color: white;
    font-size: 5em;
    padding: 8px;
  }
}

/* default mobile/tablet Projects*/
.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: top;
  height: 90%;
  width: 100%;
  padding-top: 30px;
}
.projects-container a {
  text-decoration: none;
  color: darkblue;
}
.single-card {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 330px;
  background: rgb(255, 255, 255);
  border-radius: 2px;
  /* box-sizing: border-box; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

/* Projects Desktop */
@media only screen and (min-width: 1025px) {
  .projects-container {
    margin-left: 5px;
    margin-right: 5px;
    flex-wrap: nowrap;
  }
}

/* Contact Page */
.contact-body {
  margin: auto;
  background: grey;
  position: fixed;
  width: 100%;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  border: 2px solid red;
  margin-bottom: 20px;
}

/* font-family: 'Anton', sans-serif;
font-family: 'Oxygen', sans-serif; */
